:root {
  --hot-pink: #ffaebc;
  --text: #fff;
  --tiffany: #a0e7e5;
  --mint: #b4f8c8;
  --cream: #f9f1f0;
  --coffee-pot: #67595e;
  --baby-blue: #f4fbfb;
}
* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--baby-blue);
  color: var(--coffee-pot);
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 650px;
  padding: 16px;
  margin: 0 auto;
}

.search-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

#search {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.search-input {
  background-color: transparent;
  padding: 12px 60px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--tiffany);
}

.search-input:focus {
  border: 2px solid var(--mint);
  outline-color: transparent;
  outline-offset: -4px;
  border-radius: 8px;
}

.btn {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 24px;
}

#main-favourite {
  position: absolute;
  right: 24px;
  background-color: transparent;
  border: none;
}

.swiper {
  background: radial-gradient(
    circle,
    rgba(160, 231, 229, 1) 0%,
    rgba(255, 174, 188, 1) 100%
  );
  border-radius: 12px;
  border: 1px solid var(--mint);
  padding-bottom: 12px;
}

.meal-categories-list {
  list-style-type: none;
  margin: 0;
  padding: 12px 12px 28px 12px;
  display: flex;
  gap: 16px;
  justify-content: space-around;
}

.meal-categories-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.meal-categories-img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
  border: 1px solid var(--mint);
}

.swiper-button-next {
  color: transparent;
  background-color: transparent;
  border: none;
  top: 84%;
}

.random-meal {
  margin: 32px 0;
}

.random-meal-container {
  position: relative;
  height: 400px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 24px;
  border: 1px solid var(--mint);
}

.random-meal-title {
  background-color: var(--baby-blue);
  padding: 16px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid var(--mint);
}

.link-youtube {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--baby-blue);
  border: 1px solid var(--mint);
}

.random-meal-info {
  background-color: var(--cream);
  padding: 24px;
  margin-top: 24px;
  border-radius: 12px;
  border: 1px solid var(--mint);
}

.info-text {
  font-weight: 400;
}

span.info-text {
  line-height: 150%;
}

.ingredients-list {
  list-style: none;
  padding-left: 0;
}

.mark {
  margin-right: 8px;
  font-size: 14px;
}

.search-result-list {
  padding: 0;
}

.search-result-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  background-color: var(--cream);
  border-radius: 12px;
  margin-bottom: 16px;
  border: 1px solid var(--mint);
}

.search-result-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 1px solid var(--mint);
}

.is-favourite {
  background-color: transparent;
  border: none;
  margin-left: 16px;
}

.search-result-text {
  margin-left: 8px;
  margin-top: 0;
}
